//-----------------Mayer bootstrap overriding----------------
html,body {
    margin: 0px !important;
    padding:0px !important;
    height: 100% !important;
    min-height: 100% !important;
}
.navbar{
    min-height: 55px !important;
    background: #000000 !important;
    font-weight: 400 !important;
    font-size: 18px ;
    color: $red;
}
.navbar-brand {
    height: 40px !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    color: $red !important;
  }
  
  //------------Mayer-Categories-body----------
.homebody{
    background:#3e353b;
    padding: 0px;
    margin-top: 60px;
}
  div.gallery {
    border: 1px solid rgb(172, 165, 165);
    height:500px;
    position: relative;
  }
  
  div.gallery:hover {
    border: 1px solid #fff; 
    //border-left:2px solid #fff !important; border-right:2px solid #fff !important;
  }
  
  div.gallery img {
    width: 100%;
    height: 500px;
  }
  
  div.desc {
    position: absolute;
    bottom: -3px; right: 0;
    padding: 5px;
    text-align: center;
    height:auto;
    width: 100%;
    background: rgb(19, 37, 29); // background: rgba(35, 41, 35, 0.856); 
    color: #ffffff;
    opacity: 0.7;
  }
  div.desc:hover {opacity: 0.9;}
  
  a.myfont{
      text-decoration: none !important;
      font-weight: 600 !important;
      color: #fff;
  }
   //a.myfont:visited{color: #a58c9e !important;}
  .homebody a:hover{color: rgb(48, 167, 157) !important;}

  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 6px;
    float: left;
    width: 33%;
  }
  
  @media only screen and (max-width: 800px) {
    .responsive {
       width: 49%;
       margin: 6px 0px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
     
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  //------------Mayer-Categories-create button----------
  .addCatBtn
  {
    background-color:rgb(48, 167, 157) !important ;
    color:#3e353b !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    padding: 14px 100px !important;  
    margin:0px 0px 0px 33% !important;
  }
  a.addCatBtn:hover{color: #fff !important;}
 //------------Mayer--Categories-fotter-----------
 footer.mfooter{
    text-align: center !important; 
    color: #fff !important;
    background: #1a1819; 
    padding: 0px; margin: 0px;
 }

/*














*/

//-----------------------------Micheal

//.product-big-title-area0 {background: url(img/crossword.png) repeat scroll 0 0 #c93434}

.product-bit-title0 h2 {
    font-family: raleway;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;color: #fff;
    text-align: center;
  }


  table.shop_table0 {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    
}

table.shop_table0 th, table.shop_table0 td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;

}

table.shop_table0 th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}

table.shop_table0 td.product-remove0 a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
}

table.shop_table0 td.product-remove0 a:hover {color: #fff;background: red;text-decoration: none}
table.shop_table0 td.product-name0 a{color: #222;}
table.shop_table0 td.product-name0 a:hover {color: #5a88ca;text-decoration: none}

td.product-thumbnail0 img {
    height: auto;
    width: 70px;
}
  
.product-name0 {
    font-size: 25px;
    margin-bottom: 20px;
}

td.product-name0 {
    font-size: 18px;
}

td.product-quantity0 div.quantity {
    float: none;
    margin: 0;
}

.button0 {
    background: none repeat scroll 0 0 #c93434;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}
.cart_totals0 {
    float: right;
    margin-bottom: 50px;
    width: 40%;
    margin-right: 20%;
}


.cart_totals0 table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}

.cart_totals0 table th, .cart_totals0 table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;

}

.cart_totals0 table th {
    background: none repeat scroll 0 0 #f4f4f4;
}
 
//-----------Ptoduct
.pro-card00{
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img00 {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img00 img {
  border-radius: 7px 0 0 7px;
}



.product-info00 {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text00 {
  height: 300px;
  width: 327px;
}

.product-text00 h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text00 h1,
.product-price-btn0 p {
  font-family: 'Bentham', serif;
}

.product-text00 h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text00 p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn00 {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn00 p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.product-price-num00 {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn00 button {
  display: inline-block;
  float: right;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #c93434;
  cursor: pointer;
  outline: none;
}

.product-price-btn00 button:hover {
  background-color: #361309;
}

/*










*/
///////////-----------Fatma-------------------/////////////

.body{
	color: gray;
}
.container{
	padding-top: 50px;
}
hr{
	width: 200px;
	border: 3px solid rgb(233, 222, 222);
}

/* Product Grid */
.product-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.product-grid:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
	position: relative;
}
.but{
	background-color: transparent;
	color: #434444;
	border-radius: 0;
	border: 1px solid #434444;
	width: 30%;
	margin-top: 20px;
}
.but:hover{
	background-color: pink;
	color: #fff;
}

/*






*/

//--------------------Mark---------------------

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	//background:url("resize-15868717801460823758bestecommercesoftware.jpg") no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:100px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}